# Drizzle (Optional: If omitted, drizzle.config.ts will dynamically find your local Wrangler D1 database)
DATABASE_URL=local.db

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend Email Delivery
RESEND_API_KEY=""
RESEND_FROM_EMAIL="IsItFun <noreply@frstudios.co.ke>"
RESEND_WEBHOOK_SECRET=""
